.product-pic {
  img {
    max-width: 500px;
    border-radius: 30px;
  }
}

.product-title {
  h2 {
    font-size: 40px;
  }
}

.product-subtext {
  .description {
    float: left;
  }
  .desc-answer {
    float: right;
  }
}
